.slider__control {
    div {
        height: 60px;
        width: 60px;
        border-radius: 15px;
        border: 2px solid $c-cyan;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:active {
            background-color: $c-cyan;
            color: $c-white;
        }
    }
}

@media (max-width: 576px) {
    .slider__control {
        justify-content: space-around !important;
    }
}