#examples {
    padding: 100px 0;

    .examples__slider-wrapper {
        transition: all 200ms linear;

    }

    .examples__slider-item {
        cursor: pointer;

        .examples__slider-inner {
            position: relative;

            &:hover .examples__slider-bg {
                display: flex;
            }


            img {
                height: 440px;
                object-fit: cover;
                border-radius: 15px;
                width: 100%;
            }

            .examples__slider-bg {
                display: none;
                text-align: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                background-color: $c-cyan;
                border-radius: 15px;
                color: $c-white;

                h3 {
                    font: {
                        size: 21px;
                        weight: 700;
                    }

                    line-height: 26px;
                }

            }
        }





    }

    .examples__slider {
        overflow: hidden;
    }

}

@media (max-width: 576px) {
    #examples {
        padding: 30px 0;

        img {
            height: 260px !important;
        }
    }
}