footer {
    height: 469px;
    padding: 100px 0;

    p {
        font-size: 18px;
    }

    .logo,
    .footer__soc {
        width: 280px;
    }

    .logo {
        margin-top: -20px;
    }
    .footer__developers {
        margin-top: 150px;
    }
}

@media (max-width: 992px) {
    footer {

        p,
        a {
            font-size: 16px !important;
        }

        a,
        .hr {
            width: 280px;
        }

        .footer__developers {
            margin-top: 50px;
        }
    }
}