#information {
    padding: 100px 0;
    overflow: hidden;

    p {
        font-size: 18px;
        line-height: 25px;
    }

    .section__title.xl {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #information {
        padding: 50px 0;

        img {
            height:300px;
            width: 400px;
        }

        .section__title.media {
            display: none;
        }

        .section__title.xl {
            display: block;
        }

        .row {
            flex-direction: row-reverse !important;
        }

    }
}

@media (max-width: 768px) {

    #information {
        padding: 50px 0;

        img {
            height: 181px;
            width: 259px;
        }

        .section__title.media {
            display: none;
        }

        .section__title.xl {
            display: block;
        }

        .row {
            flex-direction: row-reverse !important;
        }

    }
}