#main {
    height: 766px;
    overflow: hidden;

    .main__content {
        h1 {
            font-size: 50px;
            font-weight: 900;
            color: #484848;
            line-height: 62.5px
        }

        p {
            line-height: 22.4px;
            width: 400px;
        }
    }

}

@media (max-width: 576px) {
    #main {


        img {
            width: 377px;

        }

        .main__content {

            h1 {
                font: {
                    size: 27px;
                    weight: $font-weight-800
                }

                line-height: 32px;
                color: $c-black
            }

            .btn-base {
                display: block;
                text-align: center;
            }
        }
    }
}