#offer {
    padding: 100px 0;

    .offer__content {
        div {
            border-radius: 15px;
            cursor: pointer;
        }

        .offer__main {
            min-height: 61px;

            h3 {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .offer__drop {
            padding-bottom: 62px;
            display: none;

            h3 {
                font-size: 21px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                line-height: 31.5px;
                padding: 0 36px;
                border-left: 1px solid $c-black;
                margin-left: 12px;
            }
        }
    }
}

@media (max-width: 576px) {
    #offer {
        padding: 20px 0;

        .offer__content {
            margin-top: 30px !important;
        }

        .offer__title {
            font-size: 17px;
            line-height: 30px;

            img {
                height: 15px;
                width: 15px;
            }
        }
    }
}