@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px
}

@mixin alt {
    a {
        font-size: $font-size-xl;
        text-decoration: none;
        color: $c-black;
        text-transform: uppercase;
    }
}