@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px
}

@mixin alt {
    a {
        font-size: $font-size-xl;
        text-decoration: none;
        color: $c-black;
        text-transform: uppercase;
    }
}

@mixin media-ul {
    ul {
        display: none !important;
        padding: 20px 0;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 20px);
        background-color: $c-cyan;
        width: 100%;
        left: 0;
        text-align: center;

        li {
            position: relative;

            &::after {
                display: none;
                position: absolute;
                top: 110%;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background-color: $c-white;
            }

            &:hover::after {
                display: block;
            }
        }

        a {
            font-weight: $font-weight-800;
        }

        .order {
            display: none;
        }

    }
}